::selection {
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;

  .logo {
    a {
      text-decoration: none;
      color: black;
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 1.4vw;
      letter-spacing: 0.1vw;
    }
  }

  .register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 0.3vw;
    width: 8vw;
    height: 5vh;

    a {
      color: white;
      font-family: "Sora";
      text-decoration: none;
    }
  }
}

.register-button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 90.5vh;

  .video {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 67vh;
    z-index: -1;

    video {
      width: 100%;
      height: auto;
    }
  }

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 40vw;
    height: 25vh;

    .octopus-title {
      font-family: "Merriweather";
      font-size: 4vw;
    }

    .octopus-text {
      font-family: "Merriweather";
      font-style: italic;
      font-size: 1vw;
      font-weight: 600;
    }
  }

}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url("../assets/images/topography.svg");
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;

  .category {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 0.2vw solid black;
    border-bottom: 0.2vw solid black;
    background-color: white;
    height: 8vh;
    width: 80vw;
    margin-top: 3vh;
    margin-bottom: 3vh;

    a {
      text-decoration: none;
      color: black;
      font-family: "Work Sans", sans-serif;
      font-weight: 500;
    }

    a::after {
      content: '';
      display: block;
      width: 0;
      height: 0.9vh;
      background: yellow;
      transition: width .3s;
      margin-top: -0.9vh;
    }

    a:hover::after {
      width: 100%;
      transition: width .3s;
    }
  }

}

.middle-container {
  display: flex;
  justify-content: center;
}

.the-latest {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 51.5vw;

  .the-latest-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    width: 51.5vw;
    height: 6vh;
    margin-bottom: 3vh;

    span {
      color: black;
      font-family: "Work Sans",sans-serif;
      font-weight: 500;
    }
  }

  .the-latest-content {
    width: 51.5vw;

    .latest-image-content {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("../assets/images/the-latest.jpg");
      background-size: 100%;
      background-position: center;
      height: 53vh;
      transition: all 0.5s ease-in-out;
      border-bottom: 1vh solid yellow;

      &:hover {
        background-size: 110%;
      }
    }

    .latest-text-content {
      margin-top: 2vh;
      padding-bottom: 4vh;
      border-bottom: 0.6vh solid black;

      .blog {
        color: #8C9090;
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 0.8vw;
      }

      .author {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 0.8vw;
      }

      p {
        margin-top: 2vh;
        width: 35vw;

        a {
          font-family: "Merriweather";
          font-size: 1.7vw;
          text-decoration: none;
          color: black;
          background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
          background-size: 0 100%;
          background-repeat: no-repeat;
          transition: background-size .4s ease;
        }

        a:hover {
          background-size: 100% 100%;
          cursor: pointer;
        }
      }

    }

  }

  .latest-bottom {
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    padding-bottom: 20vh;

    .latest-bottom-content {
      width: 27.5vw;
      display: flex;
      flex-direction: column;
      align-items: center;

      .latest-image-content-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/images/the-latest-1.jpg");
        background-size: 180%;
        background-repeat: no-repeat;
        background-position: center;
        height: 40vh;
        width: 24vw;
        transition: background-size 0.5s ease-in-out;
        border-bottom: 1vh solid yellow;

        &:hover {
          background-size: 190%;
        }
      }

      .latest-image-content-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../assets/images/the-latest-2.jpg");
        background-size: 162%;
        background-repeat: no-repeat;
        background-position: center;
        height: 40vh;
        width: 24vw;
        transition: background-size 0.5s ease-in-out;
        border-bottom: 1vh solid yellow;

        &:hover {
          background-size: 172%;
        }
      }

      .latest-text-content-bottom {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 24vw;
        margin-top: 4vh;

        .blog {
          color: #8C9090;
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 0.8vw;
        }

        .author {
          font-family: "Montserrat";
          font-weight: 700;
          font-size: 0.8vw;
        }

        p {
          margin-top: 2vh;

          a {
            font-family: "Merriweather";
            font-size: 1.7vw;
            text-decoration: none;
            color: black;
            background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
            background-size: 0 100%;
            background-repeat: no-repeat;
            transition: background-size .4s ease;
          }

          a:hover {
            background-size: 100% 100%;
            cursor: pointer;
          }
        }

        .p-1 {
          padding-bottom: 8vh;
          border-bottom: 0.6vh solid black;
        }

        .p-2 {
          padding-bottom: 3.7vh;
          border-bottom: 0.6vh solid black;
        }
      }

    }

  }

}

.the-latest-text:hover {
  background-color: #262c30;

  span {
    color: white;
  }
}

.most-read {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 3.4vw;

  .most-read-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    width: 24.5vw;
    height: 6vh;
    margin-left: 0.5vw;

    span {
      color: black;
      font-family: "Work Sans",sans-serif;
      font-weight: 500;
    }
  }

  .most-read-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f4f6;
    width: 24.5vw;
    margin-left: 0.5vw;

    .most-read-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20vw;
      min-height: 20vh;
      padding-top: 3vh;
      padding-bottom: 3vh;
      border-bottom: 2px solid #d8dde0;

      .number {

        span {
          font-family: 'GFS Didot', serif;
          font-size: 5.64vw;
        }
      }

      .author-title {
        margin-left: 1vw;

        .author {

          .blog {
            color: #8C9090;
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 0.8vw;
          }

          span {
            font-family: "Montserrat";
            font-weight: 700;
            font-size: 0.8vw;
          }
        }

        .title {
          margin-top: 1vh;

          a {
            font-family: "Merriweather";
            font-size: 1.2vw;
            text-decoration: none;
            color: black;
            background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
            background-size: 0 100%;
            background-repeat: no-repeat;
            transition: background-size .4s ease;
          }

          a:hover {
            background-size: 100% 100%;
            cursor: pointer;
          }
        }

      }

    }

  }

}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .editor-pics-text {
    display: flex;
    justify-content: center;
    align-items: center;
    background: yellow;
    width: 80vw;
    height: 6vh;

    span {
      color: black;
      font-family: "Work Sans",sans-serif;
      font-weight: 500;
    }

  }

}

.editor-pics-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5vw;
  margin-left: 1.05vw;
}

.editor-pics {
  margin-top: 5vh;
}

.editor-image-content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-1.png");
  background-size: 103%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-1:hover {
  background-size: 120%;
}

.editor-image-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-2.png");
  background-size: 103%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-2:hover {
  background-size: 120%;
}

.editor-image-content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-3.png");
  background-size: 168%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-3:hover {
  background-size: 180%;
}

.editor-image-content-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-4.png");
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-4:hover {
  background-size: 120%;
}

.editor-image-content-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-5.png");
  background-size: 112%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-5:hover {
  background-size: 120%;
}

.editor-image-content-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-6.png");
  background-size: 111%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-6:hover {
  background-size: 122%;
}

.editor-author-title-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 24vw;
  margin-top: 4vh;

  .blog {
    color: #8C9090;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 0.8vw;
  }

  .author {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 0.8vw;
  }

  p {
    margin-top: 2vh;

    a {
      font-family: "Merriweather";
      font-size: 1.7vw;
      text-decoration: none;
      color: black;
      background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: background-size .4s ease;
    }

    a:hover {
      background-size: 100% 100%;
      cursor: pointer;
    }
  }

  .p-1 {
    padding-bottom: 7.9vh;
    border-bottom: 0.6vh solid black;
  }

  .p-2 {
    padding-bottom: 3.56vh;
    border-bottom: 0.6vh solid black;
  }

}

footer {
  background-color: #262C30;
  height: 90vh;
  padding: 10vh 8vw;
  margin-top: 5vh;

  .top-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .say-hello {
      user-select: none;
      grid-column: span 8;

      a {
        font-family: "Merriweather";
        color: white;
        font-size: 5.5vw;
        text-decoration: none;
      }

      a:hover {
        color: yellow;
        text-decoration: underline;
      }
    }


    .socmed {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 16vw;
      grid-column: span 4;

      .socmed-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      svg {
        fill: white;
        width: 1.8rem;
        height: 1.8rem;
      }

      span::before {
        position: absolute;
        content: "\2022";
        color: yellow;
        line-height: 1;
        font-size: 1.2vw;
        display: none;
        right: 50%;
        transform: translateX(50%);
      }

    }

    .socmed-icon:hover svg {
      fill: yellow;
    }

    .socmed-icon:hover span::before {
      display: block;
    }
  }

  .middle-footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-top: 8vh;

    .locations {
      display: flex;
      flex-direction: column;
      grid-column: span 5;

      .all-locations {
        display: flex;
        margin-top: 1vh;

        .locations-type-1 {
          display: flex;
          flex-direction: column;
          line-height: 2.5;
          font-size: 1vw;

          span::before {
            position: absolute;
            content: "\2022";
            color: yellow;
            font-size: 1.2vw;
            left: -1.5vw;
            bottom: -0.4vh;
            display: none;
          }

        }

        .locations-type-2 {
          display: flex;
          flex-direction: column;
          margin-left: 8vw;
          line-height: 2.5;
          font-size: 1vw;

          span::before {
            position: absolute;
            content: "\2022";
            color: yellow;
            font-size: 1.2vw;
            left: -1.5vw;
            bottom: -0.4vh;
            display: none;
          }

        }

        .dot {
          position: relative;
          width: 8vw;
        }

        .dot:hover a {
          color: yellow;
        }

        .dot:hover span::before {
          display: inline;
        }

      }

    }

    .network {
      display: flex;
      flex-direction: column;
      grid-column: span 3;

      .all-networks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        line-height: 2.5;
        margin-top: 1vh;

        span::before {
          position: absolute;
          content: "\2022";
          color: yellow;
          font-size: 1.2vw;
          left: -1.5vw;
          bottom: -0.5vh;
          display: none;
        }

      }

      .dot {
        position: relative;
        width: 8vw;
      }

      .dot:hover a {
        color: yellow;
      }

      .dot:hover span::before {
        display: inline;
      }

    }

    .jobs {
      display: flex;
      flex-direction: column;
      grid-column: span 2;

      .jobs-desc {
        width: 23vw;
        margin-top: 1vh;

        span {
          font-family: "Merriweather";
          font-style: italic;
          font-size: 1.2vw;
          line-height: 4vh;
          color: white;
        }
      }

      .see-jobs {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1vw solid white;
        width: 8vw;
        height: 7vh;
        margin-top: 4vh;

        a {
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 0.7vw;
          color: white;
          letter-spacing: 0.1vw;
        }
      }

      .see-jobs:hover {
        cursor: pointer;
        background-color: white;

        a {
          color: #262C30;
        }
      }
    }

    a {
      text-decoration: none;
      color: white;
      font-family: "Merriweather";
    }

    .text {

      span {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 0.8vw;
        letter-spacing: 0.1vw;
        color: white;
      }
    }

  }

  .bottom-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16vh;
    margin-top: 7vh;
    border-top: 0.3vw solid #535e64;

    span {
      color: white;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 0.8vw;
      letter-spacing: 0.1vw;
    }

    a {
      text-decoration: none;
      color: white;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 0.8vw;
      letter-spacing: 0.1vw;
    }

    a:hover {
      color: yellow;
      text-decoration: underline;
    }

  }

}