@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap");
::selection {
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;
}
nav .logo a {
  text-decoration: none;
  color: black;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.4vw;
  letter-spacing: 0.1vw;
}
nav .register-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 0.3vw;
  width: 8vw;
  height: 5vh;
}
nav .register-button a {
  color: white;
  font-family: "Sora";
  text-decoration: none;
}

.register-button:hover {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  background-image: url("../assets/images/topography.svg");
  background-attachment: fixed;
}
header .video {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
header .video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.85);
  width: 40vw;
  height: 25vh;
}
header .header-content .octopus-title {
  font-family: "Merriweather";
  font-size: 4vw;
}
header .header-content .octopus-text {
  font-family: "Merriweather";
  font-style: italic;
  font-size: 1vw;
  font-weight: 600;
}

.bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100vw;
}

.category-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.category-container .category {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 0.2vw solid black;
  border-bottom: 0.2vw solid black;
  background-color: white;
  height: 8vh;
  width: 80vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}
.category-container .category a {
  text-decoration: none;
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.category-container .category a::after {
  content: "";
  display: block;
  width: 0;
  height: 0.9vh;
  background: yellow;
  transition: width 0.3s;
  margin-top: -0.9vh;
}
.category-container .category a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.middle-container {
  display: flex;
  justify-content: center;
}

.the-latest {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 51.5vw;
}
.the-latest .the-latest-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  width: 51.5vw;
  height: 6vh;
  margin-bottom: 3vh;
}
.the-latest .the-latest-text span {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.the-latest .the-latest-content {
  width: 51.5vw;
}
.the-latest .the-latest-content .latest-image-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/the-latest.jpg");
  background-size: 100%;
  background-position: center;
  height: 53vh;
  transition: all 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}
.the-latest .the-latest-content .latest-image-content:hover {
  background-size: 110%;
}
.the-latest .the-latest-content .latest-text-content {
  margin-top: 2vh;
  padding-bottom: 4vh;
  border-bottom: 0.6vh solid black;
}
.the-latest .the-latest-content .latest-text-content .blog {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.the-latest .the-latest-content .latest-text-content .author {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.the-latest .the-latest-content .latest-text-content p {
  margin-top: 2vh;
  width: 35vw;
}
.the-latest .the-latest-content .latest-text-content p a {
  font-family: "Merriweather";
  font-size: 1.7vw;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}
.the-latest .the-latest-content .latest-text-content p a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}
.the-latest .latest-bottom {
  display: flex;
  justify-content: center;
  margin-top: 8vh;
  padding-bottom: 20vh;
}
.the-latest .latest-bottom .latest-bottom-content {
  width: 27.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.the-latest .latest-bottom .latest-bottom-content .latest-image-content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/the-latest-1.jpg");
  background-size: 180%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 24vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}
.the-latest .latest-bottom .latest-bottom-content .latest-image-content-1:hover {
  background-size: 190%;
}
.the-latest .latest-bottom .latest-bottom-content .latest-image-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/the-latest-2.jpg");
  background-size: 162%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 24vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}
.the-latest .latest-bottom .latest-bottom-content .latest-image-content-2:hover {
  background-size: 172%;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 24vw;
  margin-top: 4vh;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom .blog {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom .author {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom p {
  margin-top: 2vh;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom p a {
  font-family: "Merriweather";
  font-size: 1.7vw;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom p a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom .p-1 {
  padding-bottom: 8vh;
  border-bottom: 0.6vh solid black;
}
.the-latest .latest-bottom .latest-bottom-content .latest-text-content-bottom .p-2 {
  padding-bottom: 3.7vh;
  border-bottom: 0.6vh solid black;
}

.the-latest-text:hover {
  background-color: #262c30;
}
.the-latest-text:hover span {
  color: white;
}

.most-read {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 3.4vw;
}
.most-read .most-read-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  width: 24.5vw;
  height: 6vh;
  margin-left: 0.5vw;
}
.most-read .most-read-text span {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}
.most-read .most-read-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0f4f6;
  width: 24.5vw;
  margin-left: 0.5vw;
}
.most-read .most-read-container .most-read-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  min-height: 20vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  border-bottom: 2px solid #d8dde0;
}
.most-read .most-read-container .most-read-content .number span {
  font-family: "GFS Didot", serif;
  font-size: 5.64vw;
}
.most-read .most-read-container .most-read-content .author-title {
  margin-left: 1vw;
}
.most-read .most-read-container .most-read-content .author-title .author .blog {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.most-read .most-read-container .most-read-content .author-title .author span {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.most-read .most-read-container .most-read-content .author-title .title {
  margin-top: 1vh;
}
.most-read .most-read-container .most-read-content .author-title .title a {
  font-family: "Merriweather";
  font-size: 1.2vw;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}
.most-read .most-read-container .most-read-content .author-title .title a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bottom-container .editor-pics-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background: yellow;
  width: 80vw;
  height: 6vh;
}
.bottom-container .editor-pics-text span {
  color: black;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.editor-pics-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4.5vw;
  margin-left: 1.05vw;
}

.editor-pics {
  margin-top: 5vh;
}

.editor-image-content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-1.png");
  background-size: 103%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-1:hover {
  background-size: 120%;
}

.editor-image-content-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-2.png");
  background-size: 103%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-2:hover {
  background-size: 120%;
}

.editor-image-content-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-3.png");
  background-size: 168%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-3:hover {
  background-size: 180%;
}

.editor-image-content-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-4.png");
  background-size: 115%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-4:hover {
  background-size: 120%;
}

.editor-image-content-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-5.png");
  background-size: 112%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-5:hover {
  background-size: 120%;
}

.editor-image-content-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/editor-picks-6.png");
  background-size: 111%;
  background-repeat: no-repeat;
  background-position: center;
  height: 25vh;
  width: 23vw;
  transition: background-size 0.5s ease-in-out;
  border-bottom: 1vh solid yellow;
}

.editor-image-content-6:hover {
  background-size: 122%;
}

.editor-author-title-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 24vw;
  margin-top: 4vh;
}
.editor-author-title-content .blog {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.editor-author-title-content .author {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
}
.editor-author-title-content p {
  margin-top: 2vh;
}
.editor-author-title-content p a {
  font-family: "Merriweather";
  font-size: 1.7vw;
  text-decoration: none;
  color: black;
  background-image: linear-gradient(180deg, transparent 65%, #fcf113 0);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease;
}
.editor-author-title-content p a:hover {
  background-size: 100% 100%;
  cursor: pointer;
}
.editor-author-title-content .p-1 {
  padding-bottom: 7.9vh;
  border-bottom: 0.6vh solid black;
}
.editor-author-title-content .p-2 {
  padding-bottom: 3.56vh;
  border-bottom: 0.6vh solid black;
}

footer {
  background-color: #262C30;
  height: 90vh;
  padding: 10vh 8vw;
  margin-top: 5vh;
}
footer .top-footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
footer .top-footer .say-hello {
  user-select: none;
  grid-column: span 8;
}
footer .top-footer .say-hello a {
  font-family: "Merriweather";
  color: white;
  font-size: 5.5vw;
  text-decoration: none;
}
footer .top-footer .say-hello a:hover {
  color: yellow;
  text-decoration: underline;
}
footer .top-footer .socmed {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 16vw;
  grid-column: span 4;
}
footer .top-footer .socmed .socmed-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .top-footer .socmed svg {
  fill: white;
  width: 1.8rem;
  height: 1.8rem;
}
footer .top-footer .socmed span::before {
  position: absolute;
  content: "•";
  color: yellow;
  line-height: 1;
  font-size: 1.2vw;
  display: none;
  right: 50%;
  transform: translateX(50%);
}
footer .top-footer .socmed-icon:hover svg {
  fill: yellow;
}
footer .top-footer .socmed-icon:hover span::before {
  display: block;
}
footer .middle-footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-top: 8vh;
}
footer .middle-footer .locations {
  display: flex;
  flex-direction: column;
  grid-column: span 5;
}
footer .middle-footer .locations .all-locations {
  display: flex;
  margin-top: 1vh;
}
footer .middle-footer .locations .all-locations .locations-type-1 {
  display: flex;
  flex-direction: column;
  line-height: 2.5;
  font-size: 1vw;
}
footer .middle-footer .locations .all-locations .locations-type-1 span::before {
  position: absolute;
  content: "•";
  color: yellow;
  font-size: 1.2vw;
  left: -1.5vw;
  bottom: -0.4vh;
  display: none;
}
footer .middle-footer .locations .all-locations .locations-type-2 {
  display: flex;
  flex-direction: column;
  margin-left: 8vw;
  line-height: 2.5;
  font-size: 1vw;
}
footer .middle-footer .locations .all-locations .locations-type-2 span::before {
  position: absolute;
  content: "•";
  color: yellow;
  font-size: 1.2vw;
  left: -1.5vw;
  bottom: -0.4vh;
  display: none;
}
footer .middle-footer .locations .all-locations .dot {
  position: relative;
  width: 8vw;
}
footer .middle-footer .locations .all-locations .dot:hover a {
  color: yellow;
}
footer .middle-footer .locations .all-locations .dot:hover span::before {
  display: inline;
}
footer .middle-footer .network {
  display: flex;
  flex-direction: column;
  grid-column: span 3;
}
footer .middle-footer .network .all-networks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 2.5;
  margin-top: 1vh;
}
footer .middle-footer .network .all-networks span::before {
  position: absolute;
  content: "•";
  color: yellow;
  font-size: 1.2vw;
  left: -1.5vw;
  bottom: -0.5vh;
  display: none;
}
footer .middle-footer .network .dot {
  position: relative;
  width: 8vw;
}
footer .middle-footer .network .dot:hover a {
  color: yellow;
}
footer .middle-footer .network .dot:hover span::before {
  display: inline;
}
footer .middle-footer .jobs {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
}
footer .middle-footer .jobs .jobs-desc {
  width: 23vw;
  margin-top: 1vh;
}
footer .middle-footer .jobs .jobs-desc span {
  font-family: "Merriweather";
  font-style: italic;
  font-size: 1.2vw;
  line-height: 4vh;
  color: white;
}
footer .middle-footer .jobs .see-jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1vw solid white;
  width: 8vw;
  height: 7vh;
  margin-top: 4vh;
}
footer .middle-footer .jobs .see-jobs a {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.7vw;
  color: white;
  letter-spacing: 0.1vw;
}
footer .middle-footer .jobs .see-jobs:hover {
  cursor: pointer;
  background-color: white;
}
footer .middle-footer .jobs .see-jobs:hover a {
  color: #262C30;
}
footer .middle-footer a {
  text-decoration: none;
  color: white;
  font-family: "Merriweather";
}
footer .middle-footer .text span {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
  letter-spacing: 0.1vw;
  color: white;
}
footer .bottom-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16vh;
  margin-top: 7vh;
  border-top: 0.3vw solid #535e64;
}
footer .bottom-footer span {
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
  letter-spacing: 0.1vw;
}
footer .bottom-footer a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 0.8vw;
  letter-spacing: 0.1vw;
}
footer .bottom-footer a:hover {
  color: yellow;
  text-decoration: underline;
}

@font-face {
  font-family: "Sora";
  src: url("../assets/fonts/Sora-Medium.ttf");
}
@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSansJP-Light.otf");
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.ttf");
}
::selection {
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

.container-detail-1 {
  background-color: #f0f4f6;
}

.post-cover-detail-1 .cover-detail-1 {
  margin-bottom: 0;
  height: 90vh;
}
.post-cover-detail-1 .cover-detail-1 .blog-cover-detail-1 {
  position: absolute;
  background-image: url("../assets/images/the-latest.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.content-detail-1 {
  position: relative;
  padding-bottom: 5vh;
}
.content-detail-1 .blog-title-detail-1 {
  width: 60%;
  margin-top: -20vh;
}
.content-detail-1 .blog-title-detail-1 span {
  display: inline;
  background-color: black;
  color: white;
  font-family: "Merriweather";
  font-weight: lighter;
  font-size: 5.7vw;
  padding-left: 5vw;
  padding-right: 1vw;
  -webkit-box-decoration-break: clone;
}
.content-detail-1 .desc-container-detail-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-detail-1 .desc-container-detail-1 .desc-content-detail-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 7vh;
  width: 65vw;
}
.content-detail-1 .desc-container-detail-1 .desc-content-detail-1 .blog-author-detail-1 {
  margin-bottom: 2vh;
}
.content-detail-1 .desc-container-detail-1 .desc-content-detail-1 .blog-author-detail-1 .date-detail-1 {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8vw;
  margin-right: 1vw;
}
.content-detail-1 .desc-container-detail-1 .desc-content-detail-1 .blog-author-detail-1 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8vw;
}
.content-detail-1 .desc-container-detail-1 .desc-content-detail-1 .blog-description-detail-1 {
  font-family: "Merriweather";
  color: #262c30;
  font-size: 1.5vw;
  word-spacing: 0.1vw;
  line-height: 5vh;
}

::selection {
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

.container-detail-2 {
  background-color: #f0f4f6;
}

.post-cover-detail-2 .cover-detail-2 {
  margin-bottom: 0;
  height: 90vh;
}
.post-cover-detail-2 .cover-detail-2 .blog-cover-detail-2 {
  position: absolute;
  background-image: url("../assets/images/the-latest-1.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.content-detail-2 {
  position: relative;
  padding-bottom: 5vh;
}
.content-detail-2 .blog-title-detail-2 {
  width: 60%;
  margin-top: -20vh;
}
.content-detail-2 .blog-title-detail-2 span {
  display: inline;
  background-color: black;
  color: white;
  font-family: "Merriweather";
  font-weight: lighter;
  font-size: 5.7vw;
  padding-left: 5vw;
  padding-right: 1vw;
  -webkit-box-decoration-break: clone;
}
.content-detail-2 .desc-container-detail-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-detail-2 .desc-container-detail-2 .desc-content-detail-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 7vh;
  width: 65vw;
}
.content-detail-2 .desc-container-detail-2 .desc-content-detail-2 .blog-author-detail-2 {
  margin-bottom: 2vh;
}
.content-detail-2 .desc-container-detail-2 .desc-content-detail-2 .blog-author-detail-2 .date-detail-2 {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8vw;
  margin-right: 1vw;
}
.content-detail-2 .desc-container-detail-2 .desc-content-detail-2 .blog-author-detail-2 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8vw;
}
.content-detail-2 .desc-container-detail-2 .desc-content-detail-2 .blog-description-detail-2 {
  font-family: "Merriweather";
  color: #262c30;
  font-size: 1.5vw;
  word-spacing: 0.1vw;
  line-height: 5vh;
}

::selection {
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

.container-detail-3 {
  background-color: #f0f4f6;
}

.post-cover-detail-3 .cover-detail-3 {
  margin-bottom: 0;
  height: 90vh;
}
.post-cover-detail-3 .cover-detail-3 .blog-cover-detail-3 {
  position: absolute;
  background-image: url("../assets/images/the-latest-2.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.content-detail-3 {
  position: relative;
  padding-bottom: 5vh;
}
.content-detail-3 .blog-title-detail-3 {
  width: 60%;
  margin-top: -20vh;
}
.content-detail-3 .blog-title-detail-3 span {
  display: inline;
  background-color: black;
  color: white;
  font-family: "Merriweather";
  font-weight: lighter;
  font-size: 5.7vw;
  padding-left: 5vw;
  padding-right: 1vw;
  -webkit-box-decoration-break: clone;
}
.content-detail-3 .desc-container-detail-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-detail-3 .desc-container-detail-3 .desc-content-detail-3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 7vh;
  width: 65vw;
}
.content-detail-3 .desc-container-detail-3 .desc-content-detail-3 .blog-author-detail-3 {
  margin-bottom: 2vh;
}
.content-detail-3 .desc-container-detail-3 .desc-content-detail-3 .blog-author-detail-3 .date-detail-3 {
  color: #8C9090;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8vw;
  margin-right: 1vw;
}
.content-detail-3 .desc-container-detail-3 .desc-content-detail-3 .blog-author-detail-3 span {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 0.8vw;
}
.content-detail-3 .desc-container-detail-3 .desc-content-detail-3 .blog-description-detail-3 {
  font-family: "Merriweather";
  color: #262c30;
  font-size: 1.5vw;
  word-spacing: 0.1vw;
  line-height: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*# sourceMappingURL=index.css.map */
