@import "fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: yellow;
}

::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 1;

  .logo {
    a {
      text-decoration: none;
      color: black;
      font-family: "Montserrat";
      font-weight: bolder;
      font-size: 1.4vw;
      letter-spacing: 0.1vw;
    }
  }

  .register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 0.3vw;
    width: 8vw;
    height: 5vh;

    a {
      color: white;
      font-family: "Sora";
      text-decoration: none;
      text-decoration: none;
    }
  }
}

.register-button:hover {
  cursor: pointer;
}

.background-regis {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/bg-regis.jpg");
  background-size: cover;
  height: 90vh;

  .regis-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60vw;
    height: 73vh;
    background-color: white;
    border-radius: 0.25vw;
    box-shadow: 0.2vw 0.2vh 1vw 0.1vw #262c30;

    .octopus {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30vw;
      height: 70vh;

      img {
        width: 28vw;
        animation: mover 4s infinite alternate;
      }

      @-webkit-keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-1.5vh); }
      }
      @keyframes mover {
        0% { transform: translateY(0); }
        100% { transform: translateY(-1.5vh); }
      }
    }

    .regis-form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 30vw;
      height: 70vh;

      .sign-up {
        margin-bottom: 4vh;

        span {
          font-family: "Sora";
          font-weight: 600;
          color: #262c30;
          font-size: 2.5vw;
          background-color: yellow;
        }
      }

      .component {
        display: flex;
        justify-content: space-around;
        height: 8vh;
        flex-direction: column;
        margin-bottom: 2vh;

        label {
          font-family: "Sora";
          font-weight: 400;
          color: #262c30;
          font-size: 0.85vw;
        }

        input {
          border-radius: 0.2vw;
          height: 4vh;
          width: 25.5vw;
          border: 1px solid black;
          padding-left: 0.5vw;
        }

        input:focus {
          outline: none;
        }
      }

      .name {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2vh;
        width: 25.5vw;

        .first-name {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 7vh;
        }

        .last-name {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 7vh;
        }

        label {
          font-family: "Sora";
          font-weight: 400;
          color: #262c30;
          font-size: 0.85vw;
        }

        input {
          border-radius: 0.2vw;
          height: 4vh;
          border: 1px solid black;
          padding-left: 0.5vw;
        }

        input:focus {
          outline: none;
        }
      }

      .terms {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 5vh;
        width: 15vw;

        label {
          font-family: "Sora";
          font-weight: 400;
          color: #262c30;
          font-size: 0.7vw;
        }

        span {
          background-color: yellow;
        }
      }

      .regis-btn {
        margin-top: 2vh;

        button {
          font-family: "Sora";
          height: 5vh;
          background-color: #262C30;
          color: white;
          border: none;
          border-radius: 0.2vw;
          width: 25.5vw;
        }

        button:hover {
          background-color: white;
          border: 1px solid #262C30;
          color: #262C30;
          cursor: pointer;
        }
      }

      .log-in {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25.5vw;
        margin-top: 2vh;

        span {
          font-family: "Sora";
          font-size: 0.8vw;
        }

        a {
          text-decoration: none;
          color: #262C30;
          font-size: 0.8vw;
          background-color: yellow;
        }

      }
    }
  }
}